*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
body {
    /* background-image: url(../Projet-Final/assets/img/Cosmonaut12.jpg); */
    background-color: black;
    height: 100%;
}

a{
    color:rgba(21, 18, 230, 0.685);
}



/*--------NAVBAR--------*/
 .navbar{
    background-color: rgb(4, 4, 49);
    color: white;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    
 }

 .navbar1{

    background-color: rgb(46, 4, 46);
    
 }

 .nav-link{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
 }

 .nav-link:hover{

    transform: scale(1.1);
    border-bottom: solid 2px red;
 }

.navbar-toggler{

    border-color: red;
}

/*--------------------------PAGE LOGIN-------------------------*/
.pageLogin{

    height: 100vh;
    /* background-image:url(../Projet-Final/assets/img/Cosmonaut11.jpg); */
} 
   
.titreLogin{
    color: white;
    text-align: center;
    padding-top: 9%;
    width: 50%;
    margin: 0 auto;
    background: linear-gradient(
        to right, 
        rgb(239, 61, 255), 
        hsl(204 100% 59%)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
}

.styleLogin{adding-top: 50px;
  
    display: flex;
    flex-direction: row;
    margin:10px auto;
    align-items: center;
    /* border: solid 8px red; */
    width: 50%;
    height: 50%;
}

.container-form{

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, 0.33); */
    /* background-color: red; */
    color: rgb(255, 0, 242);
    width: 500px; 
    align-items: center;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.btn-login{

    background-color:rgb(12, 12, 12);
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    /* border: solid 2px red; */
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    color:rgb(255, 0, 242);
}

.btn-login:active{

    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px 0px;
}

.btn-login:hover{

    background-color:rgba(0, 0, 0, 0.2);
    color: white;
    border: solid 2px rgb(255, 0, 242);
    transform: scale(1.1);
    transition: 1s;
}

#msgLogin{

    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    color: rgb(255, 0, 242);
}

#msgLogin:hover{
    color: white;
}

/* animation JS Navbar */
.navbar1{ 
    /* background-color: blueviolet;
    border: solid red 5px; */
    /* color: red; */
    
}

/*Hamburger*/

#hamburger{

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fa-bars{
    
    font-size: x-large;
    height: 50px;
    width: 60px;
    /* background-color: red; */
    color: red;
}

/*-------------------------------LOADER-----------------------------------*/

.loader_flex{
    position: fixed;
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.loader{
    display: flex;
    width: 100vw;
    height:100vh;
    /* background-image: url(../Projet-Final/assets/loader.gif); */
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    /* background-size: cover;
    z-index: 1; */
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}  

.imgLoader img{

    width: 100px;
}

.disable_loader{

    display: none;
}

/*--------------------------------- Page Signup --------------------------------------*/

.newLogin{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 2px solid red; */
}

#btn-signup{
    background-color:rgb(12, 12, 12);
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    border: solid 2px rgb(255, 0, 242); 
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    color:rgb(255, 0, 242);
}

#btn-signup:active{
   
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px 0px;
}

#btn-signup:hover{

    background-color:rgba(0, 0, 0, 0.2);
    color: white;
    border: solid 2px rgb(255, 0, 242);
    transform: scale(1.1);
    transition: 1s;
}

#txt-signup {

    color: rgb(255, 0, 242);
    font-size: larger;
      
}

#txt-signup:hover{

    color: white;
}

#style-photo{

    display: flex;
    justify-content: center;
    font-size: larger;

}


/* ------------------------------INDEX.PHP-------------------------- */

.card-index{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 80px;
    max-width: 400px;
    width: 400px;
    min-height: 150px;
    max-height: 300px;
    height: 180px;
    word-wrap: break-word;
    background-color: rgb(240, 187, 240);
    background-clip: border-box;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px #a3d7c2;
    
}   

.card-index:hover{

    transform:scale(1.1);
    transition: 1s;
}

.btn-back{

    border: solid 2px #a3d7c2;
    min-width: 400px;
    margin-top: 50px;
}

.btn-back:hover{

    transform:scale(1.1);
    border: solid 2px #a3d7c2;

}


.index-flex{

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
}
.bg-index{
    background-image: url(./assets/img/Cosmonaut12.jpg);
    width: 100vw;
    margin: 0 auto;
    margin-top: 50px;
    background-size: cover;
    min-height: 100vh;
}

.style-form{
    display: flex;
    flex-direction:column;
    align-items: center;
    
}

#search-btn{
    
    background-color: rgb(240, 187, 240);
    color: rgb(255, 0, 0);
    margin-top: 50px;
    width: 350px;
    min-width: 150px;  
}

#search-btn-btn{
    margin-left: 30px;
    margin-top: 50px;
    background-color: rgb(240, 187, 240);
    color: black;
  
}

#search-btn-btn:hover{
    transform: scale(1.1);

  
}

@media screen and (max-width:320px) {

    #search-btn-btn{
        background-color: rgb(47, 0, 255);
        margin-left: 90px;
        
    }

    .style-form{
      
    }

    #search-btn{
        background-color: red;
        width: 300px;
    }

    .card-index{

        width: 250px;
        margin-left: 10px;
        background-color: red;
    }
    
}

@media screen and (min-width:375px) and (max-width:768px) {

    #search-btn-btn{
        background-color: rgb(47, 0, 255);
        margin-left: 90px;
        
    }

    .style-form{
      
        margin-left: 200px;
    }

    #search-btn{
        background-color: rgb(102, 255, 0);
        width: 300px;
    }

    .card-index{

        width: 250px;
        margin-left: 10px;
        background-color: red;
    }
    
}

@media screen and (min-width:375px) and (max-width:468px) {

    #search-btn-btn{
        background-color: rgb(47, 0, 255);
        margin-left: 90px;
        
    }

    .style-form{
      
        margin-left: 30px;
    }

    #search-btn{
        background-color: rgb(251, 255, 0);
        width: 300px;
    }

    .card-index{

        width: 250px;
        margin-left: 10px;
        background-color: red;
    }
    
}

@media screen and (min-width:425px) and (max-width:425px) {

    #search-btn-btn{
        background-color: rgb(47, 0, 255);
        margin-left: 90px;
        
    }

    .style-form{
      
        margin-left: 55px;
    }

    #search-btn{
        background-color: rgb(255, 0, 200);
        width: 300px;
    }

    .card-index{

        width: 250px;
        margin-left: 10px;
        background-color: red;
    }
    
}


/*----------------------------- PAGE PUBLISH QUESTION------------------------ */


.container-question{

    display: flex;
    justify-content: center;
    text-align: center;
    
}

#btn-question{

    display: block;
    color: rgb(255, 0, 242);
    background-color: rgba(4, 3, 70, 0.685);
    margin: 5rem auto;
    padding: 1rem 3%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 1s ease;
    border: solid 2px rgb(255, 0, 242);
}

#btn-question:hover{

    background-color: rgb(255, 0, 242);
    transform: scale(1.1) rotate(-5deg) translateX(10px);
    box-shadow: 2px 2px 2px rgba(4, 3, 70, 0.685); 
    border: solid 2px rgba(4, 3, 70, 0.685);
    color: rgba(4, 3, 70, 0.685);
}

.form-control{

    border:solid rgba(4, 3, 70, 0.685) 3px;
    box-shadow: 1px 1px 1px 1px rgba(4, 3, 70, 0.685);
}

.form-control:hover{

    transform: scale(1.1);
    transition: 1s;
}

.style-question{
    min-height: 100vh;
    background-image: url(./assets/img/Cosmonaut3.jpg);
    padding-right: 9px;
   
}

.style-publish{
   color: rgba(4, 3, 70, 0.685);
   padding-top: 50px;
   font-size: x-large;
   font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:1024px){

    .style-publish{

        color: rgb(255, 0, 221) ;
    }

}

.text-error{
    color: rgb(255, 255, 255);
    
    padding-top: 20px;
}

#titre-yt{

    color: rgb(255, 0, 221);
    justify-content: center;
    text-align: center;
}

.question-tuto{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

#frame-video{

    width:560px;
    height:315px;
    border: solid red 2px;
    border-radius: 20px;
    
}

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
   
   }
   .video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
   }

@media screen and (max-width: 580px)
{
    #frame-video
    {
        width: 280px;
    }
}
/*----------------------------------PAGE QUESTIONS----------------------------------*/
.bg-myquestion{

    background-image: url(./assets/img/Cosmonaut12.jpg);
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-myq{
    background-color: rgb(240, 187, 240);
    background-clip: border-box;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px #a3d7c2;
    font-size:large;
}

.card-myq:hover{

    transform: scale(1.1);
    transition: 1s;
}


.container-myquestion{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    max-width: 700px;
    width: 100%;
    height: 100%;
}




/* ----------------------------------PAGE PROFILE ------------------------*/

.allimg{
    border: solid 3px rgb(255, 0, 242);
    height: 350px;
    width: 500px;
    border-radius: 50px;
}

.container-profile{

    background-image: url(./assets/img/Cosmonaut3.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.card-imgprofile
{
    text-align: center;
    border-radius: 50px;
}

.card-profile
{
    width: 500px;
    border-radius: 25px;
    border: 2px solid rgb(255, 0, 242);
    box-shadow: 3px 3px 3px 3px rgb(255, 0, 242);
}

@media screen and (max-width:750px) {

    .allimg{

        width: 250px;
        height: 150px;
    }

    .card-profile
{
    width: 250px;
}

    
}


/* ----------------------------------PAGE ARTICLE ------------------------*/


.container-article{

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url(./assets/img/Cosmonaut8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: rgb(255, 0, 242);
    font-size: x-large;
    
}

#btn-article{

    background-color: rgb(255, 0, 242);
    font-size:large;
    border: solid 2px rgba(4, 3, 70, 0.685);
}

#btn-article:hover{

    background-color:rgba(4, 3, 70, 0.685)rgba(4, 3, 70, 0.685);
    color:rgb(255, 0, 242);
    border:solid 2px rgb(255, 0, 242);
    transform: scale(1.1);
    transition: 1s;
}

.card-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid 2px green; */
    padding-top: 40px;
    margin-bottom: 250px;
}

.card-article-content{

    background-color: rgb(240, 187, 240);
    background-clip: border-box;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px #a3d7c2;
    font-size:large;
}

.card-article-content:hover{

    transform:scale(1.1);
    transition: 1s;
}

.show-answers{

    width: 300px;
}



/* ----------------------------------PAGE EDIT QUESTIONS------------------------*/

.container-edit{

    background-image: url(./assets/img/Cosmonaut11.jpg);
    min-height: 100vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 242);
    font-size: xx-large;
    
    
}

.card-edit{

    text-align: center;
    /* border: solid 2px red; */
}

#btn-edit{

    display: block;
    color: #fff;
    background-color: rgba(4, 3, 70, 0.685);
    margin: 5rem auto;
    padding: 1rem 3%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 1s ease;
    border: solid 2px rgb(255, 0, 242);

}

#btn-edit:hover{

  background-color: rgb(255, 0, 242);
  transform: scale(1.1) rotate(-5deg) translateX(10px);
  box-shadow: 2px 2px 2px rgba(4, 3, 70, 0.685); 
  border: solid 2px rgba(4, 3, 70, 0.685);
}


/* ----------------------------------PAGE MYQUESTIONS------------------------*/

